/*MODAL WINDOW--- INSTRUCTION*/
.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.instruction {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}

.math-operation ul li {
    margin-left: 0px;
    text-align: left;
}

.modal-window {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0, 0, 0); /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}


/*CALCULATOR*/

:root {
    --width: 400px;
    --height: 500px;
    --gap: 10px;
    --back-color: #ECE8E7;
}

.main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    margin: auto auto;
}

input {
    width: var(--width);
    height: 50px;
    outline: none;
    border: 2px solid var(--back-color);
    font-size: 25px;
    padding: 0 10px;
    text-align: right;

}

.calc {
    width: var(--width) -20px;
    height: var(--height);
    background-color: var(--back-color);
}

.calc-btn {
    width: 91px;
    height: 80px;
    margin: 4px 0 0 8px;
    font-size: 30px;
    color: black;
    background-color: #B7D9F0;
    border: black;
    outline: none;
}

.result {
    background-color: cadetblue;
}

.number, .decimal {
    background-color: gainsboro;
}

.basic-math-operation,
.diff-math-operation,
.del-operation {
    background-color: #C5BDBC;
}

.number:hover {

}

button:hover {
    background-color: coral;
}
